<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>706294552689-qldhe436l9ikl6vcuq03to3k64edpthn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706294552689-qldhe436l9ikl6vcuq03to3k64edpthn</string>
	<key>API_KEY</key>
	<string>AIzaSyAqk6cZP_X3VJs1CBHqFXn1nbLNaSWRhsg</string>
	<key>GCM_SENDER_ID</key>
	<string>706294552689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.benestudio.fakestagram</string>
	<key>PROJECT_ID</key>
	<string>fakestagram-d8efa</string>
	<key>STORAGE_BUCKET</key>
	<string>fakestagram-d8efa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706294552689:ios:417d447fd0f0e9a3</string>
	<key>DATABASE_URL</key>
	<string>https://fakestagram-d8efa.firebaseio.com</string>
</dict>
</plist>